[Service]
Restart=always
WorkingDirectory={{ dcgm_exporter_composer_dir }}
ExecStart=/usr/bin/docker compose -f dcgm_exporter_composer.yaml up
ExecStop=/usr/bin/docker compose -f dcgm_exporter_composer.yaml down
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target